@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;

  /* Para ajustar el tamaño del vídeo */
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}

.video-background-content {
  position: relative;
  z-index: 1;
}

.hero {
  text-transform: uppercase;
}

.hero span {
  display: block;
  padding: 0 0.3em;
}

.hero-name {
  font-size: 2.5em;
}

.hero-surname {
  background-color: #fbfffeba;
  color: #222322;
  font-weight: bold;
  padding: 0.3em 0;
  font-size: 1.3em;
  border-radius: 5px;
}

.hero-job {
  font-weight: lighter;
}
