@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;

  /* Para ajustar el tamaño del vídeo */
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}

.video-background-content {
  position: relative;
  z-index: 1;
}

.hero {
  text-transform: uppercase;
}

.hero span {
  display: block;
  padding: 0 0.3rem;
}

.hero-name {
  font-size: 2.5em;
}

.hero-surname {
  background-color: #fbfffeba;
  color: #222322;
  font-weight: bold;
  font-size: 1.3em;
  border-radius: 5px;
}

.hero-job {
  font-weight: lighter;
  font-size: 0.8em;
  margin-top: 0.5rem;
}

.hero-link {
  width: fit-content;
  padding: 0.7em 2em;
  background: #92b8bddb;
  border-radius: 1em;
  cursor: pointer;
  display: flex;
  margin: 2rem auto 0;
  color: #303030;
  text-decoration: none;
  font-size: 1rem;
}

.hero-link:hover {
  font-weight: bolder;
  color: white;
  font-size: 1.2rem;
  text-decoration: underline;
}

.about-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  color: #212529;
  border-top: 3px solid #212529;
}

span#name {
  font-weight: bold;
  color: #212529;
}

.about-text {
  align-self: stretch;
  text-align: justify;
}
